// ---------------------
// Diablo-Like Font · DiabloHeavy Font
// ---------------------

// Damos de alta la fuente con el nombre "DiabloHeavy" y cargamos todos los formatos
@font-face
  font-family "DiabloHeavy"
  src url("../fonts/diabloh.eot")
  src url("../fonts/diabloh.eot?#iefix") format("embedded-opentype"),
  url("../fonts/diabloh.otf") format("opentype"),
  url("../fonts/diabloh.svg") format("svg"),
  url("../fonts/diabloh.ttf") format("truetype"),
  url("../fonts/diabloh.woff") format("woff"),
  url("../fonts/diabloh.woff2") format("woff2")
  font-style normal
  font-weight normal

// Creamos una clase que tenga de tipografía la fuente de Diablo
.font-diablo
  font-family "DiabloHeavy", sans-serif